<li class="media mb-5">
  <img class="align-self-center mr-3"
       src="{{ '/assets/images/team/' | append: member.image | relative_url }}"
         style="
            width: 100px;
            height: 100px;
            object-fit: cover;      /* keeps it from stretching */
            filter: grayscale(100%);
            border-radius: 50%;
         "
       alt="{{ member.title }}">

  <div class="media-body">
    <h5 class="mt-0">
      {% assign href = member.url | default: '' | to_s | strip %}
      {% if href != '' and member.detail != false %}
        <a href="{{ href | relative_url }}">{{ member.title }}</a>
      {% else %}
        {{ member.title }}
      {% endif %}
    </h5>

    <p>{{ member.role }}</p>
    {%- include team_member_social.html member=member -%}
  </div>
</li>
